body {
    background: #ccc;
}
.margin-left-20{
    margin-left: 20px;
}
.todoContainer{
    width: 550px;
    background-color: aliceblue;
    border: 1px solid rgba(248, 250, 255, 0.98);
    height: 250px;
    margin-top: 20px!important;
    border-radius: 10px;
    margin: auto;
    position: relative;
}
.todoContainer:after{
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}
.todoContainer:before, .todoContainer:after
{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    top: 80%;
    max-width:300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}